<section class="thirteen columns">
    <h1>Activities &amp; Service</h1>
    <article>
        <header>
            <h1>Academic Clubs &amp; Organizations</h1>
		<dl>
            <dt>&mdash; Obstetrics &amp; Gynecology Club, 2008 &ndash; 2012</dt>
            <dt>&mdash; Student Osteopathic Medical Association, 2008 &ndash; 2012</dt>
            <dt>&mdash; Student American Academy of Osteopathy, 2008 &ndash; 2012</dt>
        </dl>
		</header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>Professional Organizations</h1>
		<dl>
            <dt>&mdash; American College of Obstetrics &amp; Gynecology, 2008 &ndash; Present</dt>
            <dt>&mdash; American Urogynecologic Association, 2013 &ndash; Present</dt>
            <dt>&mdash; American College of Osteopathic Obstetrics &amp; Gynecology, 2008 &ndash; 2012</dt>
            <dt>&mdash; American Academy of Family Practice, 2008 &ndash; 2012</dt>
            <dt>&mdash; American Medical Association, 2008 &ndash; 2012</dt>
            <dt>&mdash; Medical Society of Virginia, 2009 &ndash; 2010</dt>
        </dl>
		</header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>Medical Service</h1>
		<dl>
            <dt>&mdash; Punta Cana, Dominican Republic, 2009</dt>
            <dt>&mdash; La Union, El Salvador, 2009</dt>
            <dt>&mdash; Tegucigalpa, Honduras, 2010 &amp; 2011</dt>
            <dt>&mdash; Maryville, Tennessee Good Samaritan Clinic, 2007</dt>
		</dl>
        </header>
        <p>
            
        </p>
    </article>
</section>