<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Founder, Owner, &amp; Chief Technical Officer</h1>
            <span><address>Valley Curbside Recycling, Christiansburg, Virginia</address><time>2008 to 2014</time></span>
        </header>
        <p>Created a for-profit curbside recycling company in the New River Valley of Virginia serving residential and business customers. We worked to encourage sustainable development, green business practices, and environmental education in Montgomery County and beyond.</p>
    </article>
    <article>
        <header>
            <h1>Regional Advancement Officer</h1>
            <span><address>Maryville College, Maryville, Tennessee</address><time>2005 to 2008</time></span>
        </header>
        <p>Discovered, cultivated, and solicited donors to make major gifts to the current capital campaign of the college.  Partnered with donors to maximize both the charitable benefit to the college and the personal financial benefit of the donor.</p>
    </article>
    <article>
        <header>
            <h1>Housefather</h1>
            <span><address>Milton Hershey School, Hershey, Pennsylvania</address><time>2004 to 2005</time></span>
        </header>
        <p>Encouraged students to practice helpful and healthful behaviors and worked with them to identify target areas for improvement. Praised, encouraged, and positively reinforced each child so that she would grow physically, mentally, spiritually, and emotionally. Developed a culture in the home that embraced the school’s sacred values of integrity, positive spirit, commitment to mission, and mutual respect.</p>
    </article>
    <article>
        <header>
            <h1>Senior Pharmaceutical Sales Representative</h1>
            <span><address>Eli Lilly &amp; Company, London, Kentucky</address><time>2000 to 2003</time></span>
        </header>
        <p>Partnered with physicians and other healthcare professionals to develop educational programs designed to help improve patients’ quality of life. Exceeded sales quotas across a wide product portfolio through targeted customer interventions, negotiation, call planning and implementation, and development of action-oriented territory business plan.  Presented product specific sales and technical information at district meetings to other representatives that they would utilize in the upcoming quarter.</p>
    </article>
    <article>
        <header>
            <h1>Marketing Director</h1>
            <span><address>Mountain Challenge, Maryville, Tennessee</address><time>1998 to 2000</time></span>
        </header>
        <p>Designed, sold, and led corporate training courses on topics such as customer service, teambuilding, corporate culture, creativity, and problem solving.</p>
    </article>
</section>