<section class="thirteen columns">
    <h1>Hobbies &amp; Interests</h1>
    <article>
        <p>Music (Bluegrass &amp; Americana), Wooden Spoon Carving, Cooking, Microelectronics (Arduino &amp; Raspberry Pi), Computer Programming</p>
    </article>
    <article>
        <header>
            <h1>Software, Scripting &amp; Web Development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Microsoft Word</em>, <em>Excel</em>, <em>HTML/CSS</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>PHP</em>, <em>Python</em>, &amp; <em>MySQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>R</em>, <em>CouchDB</em>, &amp; <em>Javascript</em>
        </p>
    </article>
</section>