<section class="thirteen columns">
    <h1>Posters &amp; Oral Presenations</h1>
    <article>
        <header>
            <span>Schnee DM, Pierson RC, <strong>Stewart JR</strong> &amp; Learman LA. Is direct-interaction with preceptors linked to clerkship satisfaction and medical knowledge gain?</span>
            <span><address>CREOG &amp; APGO Annual Meeting</address><time>March, 2016</time></span>
    </article>
    <article>
        <header>
            <span><strong>Stewart JR</strong>, Hamner JJ &amp; Heit MA. When the Apex is Calling, Do Surgeons Answer? Trends in Cystocele/Rectocele Repair Over the Last 30 Years.</span>
            <span><address>Society of Gynecologic Surgeons</address><time>March, 2015</time></span>
    </article>
    <article>
        <header>
            <span><strong>Stewart JR</strong>, Hale DS &amp; Heit MA. Development of a HIPAA Compliant Web Based Longitudinal Survey Instrument for Urogynecologic Specific Patient Centered Outcomes Research.</span>
            <span><address>American Urogynecologic Society and the International Urogynecological Association Annual Scientific Meeting</address><time>July, 2014</time></span>
    </article>
    <article>
        <header>
            <span>Burwell B, Call L, Craft K, Freid F, Pranckun Z, &amp; <strong>Stewart JR</strong>. A Case of Bilateral Thalamic Hemorrhage and Its Clinical Presentation in the General Population.</span>
            <span><address>Via College of Osteopathic Medicine Annual Research Day</address><time>May 2009</time></span>
    </article>
    <article>
        <header>
            <span><strong>Stewart JR</strong> &amp; Dyer JS. Utilizing Text Messaging as a Means for Improving Patient Compliance among Teen Aged Type I Diabetics. A Proof of Concept and a Grant Proposal.</span>
            <span><address>Department of Pediatric Endocrinology, Nationwide Childrens Hospital, Columbus, Ohio</address><time>December 2010</time></span>
    </article>
    <article>
        <header>
            <span><strong>Stewart JR</strong>, Suri A &amp; Schrum KF. Comparison of Synchronous Fluorescence and Raman Spectroscopy to Study Petroleum Contamination of Environmental Matrices.</span>
            <span><address>The Pittsburgh Conference on Analytical Chemistry and Applied Spectroscopy</address><time>March 1999</time></span>
    </article>
    <article>
        <header>
            <span>Carpenter JS, Heit M, Chen CX, <strong>Stewart JR</strong>, Hamner JJ, Rand KL. Psychometrics of the PSR-13 for measurement of postoperative recovery after pelvic reconstructive surgery.</span>
            <p>[2016 AUGS SUBMISSION]</p>
    </article>
    <article>
        <header>
            <span>Heit MA, Chen CX, <strong>Stewart JR</strong>, Hamner JJ, Rand KL, Carpenter JS. Recovery Trajectory Following Laparoscopic Sacrocolpopexy for the Identification of Modifiable Behaviors in Women with “Operable” Pelvic Organ Prolapse.</span>
			<p>[2016 AUGS SUBMISSION]</p>
    </article>
    <article>
        <header>
            <span><strong>Stewart JR</strong>, Rose, SM, Hale DS &amp; Heit MA. Google Search Queries in Urogynecology.</span>
			<p>[2016 AUGS SUBMISSION]</p>
    </article>
    <article style="display:none">
        <header>
            <span><strong>Stewart JR</strong>, Hamner JJ &amp; Heit MA. Influence of the Multidimensional Health Locus of Control on Recovery after Laparoscopic Sacral Colpopexy</span>
			<p>[ENROLLMENT PHASE]</p>
    </article>
</section>

