<section class="thirteen columns">
    <h1>Posters &amp; Oral Presenations</h1>
    <article>
        <header>
            <span>Schnee DM, Pierson RC, Stewart JR &amp; Learman LA. Is direct-interaction with preceptors linked to clerkship satisfaction and medical knowledge gain?</span>
            <span><address>CREOG &amp; APGO Annual Meeting</address><time>March, 2016</time></span>
    </article>
    <article>
        <header>
            <span>Stewart JR, Hamner JJ &amp; Heit MA. When the Apex is Calling, Do Surgeons Answer? Trends in Cystocele/Rectocele Repair Over the Last 30 Years.</span>
            <span><address>Society of Gynecologic Surgeons</address><time>March, 2015</time></span>
    </article>
    <article>
        <header>
            <span>Stewart JR, Hale DS &amp; Heit MA. Development of a HIPAA Compliant Web Based Longitudinal Survey Instrument for Urogynecologic Specific Patient Centered Outcomes Research.</span>
            <span><address>American Urogynecologic Society and the International Urogynecological Association Annual Scientific Meeting</address><time>July, 2014</time></span>
    </article>
    <article>
        <header>
            <span>Stewart JR, Suri A &amp; Schrum KF. Comparison of Synchronous Fluorescence and Raman Spectroscopy to Study Petroleum Contamination of Environmental Matrices.</span>
            <span><address>The Pittsburgh Conference on Analytical Chemistry and Applied Spectroscopy</address><time>March 1999</time></span>
    </article>
    <article>
        <header>
            <span>Carpenter JS, Heit M, Chen CX, Stewart JR, Hamner JJ, Rand KL. Psychometrics of the PSR-13 for measurement of postoperative recovery after pelvic reconstructive surgery.</span>
            <p><em>[2016 AUGS SUBMISSION]</em></p>
    </article>
    <article>
        <header>
            <span>Heit MA, Chen CX, Stewart JR, Hamner JJ, Rand KL, Carpenter JS. Recovery Trajectory Following Laparoscopic Sacrocolpopexy for the Identification of Modifiable Behaviors in Women with “Operable” Pelvic Organ Prolapse.</span>
			<p><em>[2016 AUGS SUBMISSION]</em></p>
    </article>
    <article>
        <header>
            <span>Stewart JR, Rose, SM, Hale DS &amp; Heit MA. Google Search Queries in Urogynecology.</span>
			<p><em>[2016 AUGS SUBMISSION]</em></p>
    </article>
</section>