<section class="thirteen columns">
    <h1>Publications</h1>
    <article style="display:none">
        <header>
            <span>Schnee DM, Pierson RC, Stewart JR &amp; Learman LA. Is direct-interaction with preceptors linked to clerkship satisfaction and medical knowledge gain?</span>
            <span><address></address><time></time></span>
        </header>
        <p>
            <em>PMID: </em>
        </p>
    </article>
    <article>
        <header>
            <span><strong>Stewart JR</strong>, Hamner JJ &amp; Heit MH. 30 Years of Cystocele/Rectocele Repair in the United States. Female Pelvic Medicine and Reconstructive Surgery. 2016 [PUBLISHED AHEAD OF PRINT]</span>
        </header>
        <p>
            <em>PMID: <a href="http://www.ncbi.nlm.nih.gov/m/pubmed/26825407/">26825407</a></em>
        </p>
    </article>
</section>