<section class="thirteen columns">
    <h1>Training &amp; Education</h1>
    <article>
        <header>
            <h1>Fellow, Female Pelvic Medicine &amp; Reconstructive Surgery</h1>
            <span><address>University of Louisville School of Medicine, Louisville, Kentucky</address><time>2016 to Present</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Resident, Obstetrics &amp; Gynecology</h1>
            <span><address>Indiana University School of Medicine, Indianapolis, Indiana</address><time>2012 to 2016</time></span>
			<dl>
				<dt>&mdash; 4.0 Resident Teaching Award, 2012 &ndash; 2016</dt>
				<dt>&mdash; Chief Administrative Resident, 2015 &ndash; 2016</dt>
				<dt>&mdash; Gold Humanism in Medicine Honor Society, 2015</dt>
			</dl>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Doctor of Osteopathic Medicine</h1>
            <span><address>Via College of Osteopathic Medicine, Blacksburg, Virginia</address><time>2008 to 2012</time></span>
			<dl>
				<dt>&mdash; Sigma Sigma Phi Honor Society with 3.9 GPA</dt>
				<dt>&mdash; Regional Medical Student of the Year, 2011 &ndash; 2012</dt>
			</dl>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Arts, Chemistry</h1>
            <span><address>Maryville College, Maryville, Tennessee</address><time>1995 to 1999</time></span>
			<dl>
				<dt>&mdash; Class President, 1995 &ndash; 1999</dt>
				<dt>&mdash; Student Body Treasurer, 1997 &ndash; 1998</dt>
				<dt>&mdash; Outstanding Senior Award Finalist, 1999</dt>
				<dt>&mdash; Charles &amp; Mary Ensign Scholar in Ethics, 1999</dt>
				<dt>&mdash; Fred A. Griffitt’s Memorial Chemistry Scholarship, 1996 &ndash; 1999</dt>
			</dl>
        </header>
        <p></p>
    </article>
</section>
