<section class="thirteen columns">
    <h1>Training &amp; Education</h1>
    <article>
        <header>
            <h1>Fellow, Female Pelvic Medicine &amp; Reconstructive Surgery</h1>
            <span><address>University of Louisville School of Medicine</address><time></time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Resident, Obstetrics &amp; Gynecology</h1>
            <span><address></address><time></time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Doctor of Osteopathic Medicine</h1>
            <span><address></address><time></time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Arts, Chemistry</h1>
            <span><address></address><time></time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1></h1>
            <span><address></address><time></time></span>
        </header>
        <p></p>
    </article>

</section>
